@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "投料单";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = null;
}
<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<div id="uploadExcel" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false">
    <form name="form1" method="post" id="form1">
        <table>
            <tr>
                <th style="padding:20px;"> Excel：</th>
                <td style="padding:20px;">
                    <input name="ExcelPath" type="text" maxlength="255" id="txtExcelPath" readonly="readonly" style="width:200px" class="txtInput normal left">
                    <a href="javascript:$('#FileUpload').trigger('click').void(0);" class="files">@Resource.Browse</a>
                    <input class="displaynone" type="file" id="FileUpload" name="FileUpload" onchange="Upload('ExcelFile', 'txtExcelPath', 'FileUpload'); ">
                    <span class="uploading">@Resource.Uploading</span>
                </td>
            </tr>
            <tr>
                <th style="padding:20px;"> 导入状态：</th>
                <td style="padding:20px;">
                    <label id="importMessage"></label>
                    <a id="importResultFile" href="">         点击查看导入结果</a>
                </td>
            </tr>
        </table>
        <div class="endbtndiv">
            <a id="btnSave" href="javascript:ImportData()" class="easyui-linkbutton btns">直接保存</a>
            <a id="btnReturn" href="javascript:$('#uploadExcel').window('close')" class="easyui-linkbutton btnc">@Resource.Cancel</a>
        </div>
    </form>
</div>
<div class="mvctool">
    @*<input id="txtQuery" type="text" class="searchText" />*@
    <input id="txtFeedBillNum" type="text" placeholder="投料单号(业务):" class="searchText" />
    @*<input id="txtAssemblyPartCode" type="text" placeholder="总成物料编码:" class="searchText" />*@
    <input id="txtSubAssemblyPartCode" placeholder="投料物料编码:" type="text" class="searchText" />
    打印状态：@Html.DropDownList("txtPrintStaus", ViewBag.PrintStaus as SelectList, new { @style = "width:70px;" })
    确认状态：@Html.DropDownList("txtConfirmStatus", ViewBag.ConfirmStatus as SelectList, new { @style = "width:70px;" })
    创建日期从: <input type="text" id="beginDate" style="width:70px;" value="@(DateTimeHelper.FirstDayOfMonth())" class="wdate" onclick="WdatePicker({startDate:'1980-05-01'})" />
    至: <input type="text" id="endDate" style="width:70px;" value="@(DateTimeHelper.LastDayOfMonth())" class="wdate" onclick="WdatePicker({startDate:'1980-05-01'})" />
    <br>
    @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query, ref perm, "Query", true)
    @Html.ToolButton("btnCreate", "fa fa-plus", Resource.Create, ref perm, "Create", true)
    @Html.ToolButton("btnEdit", "fa fa-pencil", Resource.Edit, ref perm, "Edit", true)
    @Html.ToolButton("btnDelete", "fa fa-trash", Resource.Delete, ref perm, "Delete", true)
    @Html.ToolButton("btnImport", "fa fa-level-down", Resource.Import, ref perm, "Import", true)
    @Html.ToolButton("btnExport", "fa fa-level-up", Resource.Export, ref perm, "Export", true)
    @Html.ToolButton("btnExportTemplate", "fa fa-level-up", Resource.ExportTemplate, ref perm, "Export", true)
    @*@Html.ToolButton("btnPrint", "fa fa-level-up", Resource.Print, ref perm, "Create", true)
    @Html.ToolButton("btnUnPrint", "fa fa-level-up", Resource.UnPrint, ref perm, "Create", true)*@
    @Html.ToolButton("btnConfirm", "fa fa-search", "确认", ref perm, "Edit", true)
    @*@Html.ToolButton("btnReport", "fa fa-search", "查看单据", ref perm, "Query", true)*@
</div>
<table id="List"></table>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width:SetGridWidthSub(10),
            methord: 'post',
            height: SetGridHeightSub(60),
            fitColumns: true,
            sortName: 'FeedBillNum',
            sortOrder: 'ASC',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            rowStyler: function (index, row) {
                if (Number(row.FeedQty) > Number(row.InvQty)) {
                    return 'background: #D24D57; color: #fff';
                }
            },
            showFooter: true,
            onLoadSuccess: function(data) {                @foreach(var r in perm){ if (r.Category == 2) { @Html.Raw("$(this).datagrid('hideColumn','" + r.KeyCode + "'); "); } }
            },
            queryParams: {
                beginDate: $("#beginDate").val(), endDate: $("#endDate").val()
            },
            columns: [[
                { field: 'Id', title: 'Id', width: 80,hidden:true },
                { field: 'FeedBillNum', title: '投料单号（业务）', width: 80,sortable:true },
                //{ field: 'ReleaseBillNum', title: '投料单号（系统）', width: 100,sortable:true },
                //{ field: 'Department', title: '投料部门', width: 70,sortable:true },
                //{ field: 'AssemblyPartCode', title: '总成物料', width: 80,sortable:true },
                { field: 'SubAssemblyPartCode', title: '投料物料', width: 120,sortable:true },
                { field: 'SubAssemblyPartName', title: '投料物料名称', width: 120, sortable: true },
                //{ field: 'Lot', title: '批次号', width: 50, sortable: true },
                { field: 'FeedQty', title: '投料数量', width: 80, sortable: true, align: 'right' },
                { field: 'InvQty', title: '库存数', width: 80, sortable: true, align: 'right' },
                { field: 'BoxQty', title: '箱数', width: 50, sortable: true, align: 'right' },
                { field: 'Capacity', title: '体积', width: 50,sortable:true },
                //{ field: 'InvName', title: '库房', width: 80,sortable:true },
                //{ field: 'SubInvId', title: '子库存', width: 80,sortable:true },
                { field: 'Lot', title: '批次号', width: 50, sortable: true },
                { field: 'Remark', title: '备注', width: 80,sortable:true },
                { field: 'PrintStaus', title: '打印状态', width: 50,sortable:true },
                //{ field: 'PrintDate', title: '打印时间', width: 80, sortable: true },
                {
                    field: 'CreateTime', title: '创建时间', width: 60, sortable: true,
                    formatter: function (value, row, index) {
                        return formatterDateNoHour(value);
                    }
                },
                //{ field: 'PrintMan', title: '打印人', width: 80,sortable:true },
                { field: 'ConfirmStatus', title: '确认状态', width: 50,sortable:true },
                //{ field: 'ConfirmMan', title: '确认人', width: 80,sortable:true },
                //{ field: 'ConfirmDate', title: '确认时间', width: 80, sortable: true },
                {
                    field: 'ConfirmDate', title: '确认时间', width: 60, sortable: true,
                    formatter: function (value, row, index) {
                        return formatterDateNoHour(value);
                    }
                },
                { field: 'ConfirmMessage', title: '确认信息', width: 160, sortable: true },
            ]]
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s(Lang.Tip, mes);
    }
    $(function () {
        $("#btnCreate").click(function () {
            $.modalWindow(Lang.Create, '@Url.Action("Create")', 700, 400, 'fa fa-plus');
        });
        $("#btnEdit").click(function () {
            var row = $('#List').datagrid('getSelected');
            @*if (row != null) {
                $.modalWindow(Lang.Edit, '@Url.Action("Edit")?id=' + row.Id + '&Ieguid=' + GetGuid(), 800, 600, 'fa fa-pencil');
            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords'); }*@
            if (row != null) {
                if (row.ConfirmStatus == "已确认") {
                    $.messager.confirm(index_lang_tip, "单据已确认不能被修改")
            }
            else { $.modalWindow(Lang.Edit, '@Url.Action("Edit")?id=' + row.Id + '&Ieguid=' + GetGuid(), 800, 600, 'fa fa-pencil');
            }

            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords'); }
        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.modalWindow(Lang.Details, '@Url.Action("Details")?id=' + row.Id + '&Ieguid=' + GetGuid(), 700, 400, 'fa fa-list');
            } else { $.messageBox5s(Lang.Tip, Lang.PleaseSelectTheOperatingRecord); }
	        });
        $("#btnQuery").click(function () {
            //var queryStr = $("#txtQuery").val();
            //if (queryStr == null) {
            //    queryStr = "%";
            //}
            //$("#List").datagrid("load", { queryStr: queryStr });
            var feedBillNum = $("#txtFeedBillNum").val();
            var assemblyPartCode = $("#txtAssemblyPartCode").val();
            var subAssemblyPartCode = $("#txtSubAssemblyPartCode").val();
            var printStaus = $("#txtPrintStaus").val();
            var confirmStatus = $("#txtConfirmStatus").val();
            if (feedBillNum == null) {
                feedBillNum = "";
            }
            if (assemblyPartCode == null) {
                assemblyPartCode = "";
            }
            if (subAssemblyPartCode == null) {
                subAssemblyPartCode = "";
            }

            $("#List").datagrid("load", {
                feedBillNum: feedBillNum, assemblyPartCode: assemblyPartCode, subAssemblyPartCode: subAssemblyPartCode, printStaus: printStaus, confirmStatus: confirmStatus, beginDate: $("#beginDate").val(), endDate: $("#endDate").val()
            });

        });
        $("#btnDelete").click(function () {
	            //dataDelete("@Url.Action("Delete")", "List");
            var row = $('#List').datagrid('getSelected');           
            if (row.ConfirmStatus == "已确认") {
                $.messager.confirm(index_lang_tip, "单据已确认不能被删除")
            }
            else { dataDelete("@Url.Action("Delete")", "List");
            }
	        });
        $("#btnImport").click(function() {
            $("#txtExcelPath").val("");
            $("#FileUpload").val("");
            $("#uploadExcel").window({ title: '@Resource.Import', width: 450, height: 210, iconCls: 'fa fa-level-down' }).window('open');
            window.parent.frameReturnByReload(true);
        });
        $("#btnExport").click(function() {
            var feedBillNum = $("#txtFeedBillNum").val();
            var assemblyPartCode = $("#txtAssemblyPartCode").val();
            var subAssemblyPartCode = $("#txtSubAssemblyPartCode").val();
            var printStaus = $("#txtPrintStaus").val();
            var confirmStatus = $("#txtConfirmStatus").val();
            if (feedBillNum == null) {
                feedBillNum = "";
            }
            if (assemblyPartCode == null) {
                assemblyPartCode = "";
            }
            if (subAssemblyPartCode == null) {
                subAssemblyPartCode = "";
            }
            $.post("@Url.Action("CheckExportData")?feedBillNum=" + feedBillNum + "&assemblyPartCode=" + assemblyPartCode + "&subAssemblyPartCode=" + subAssemblyPartCode
                + "&confirmStatus=" + confirmStatus + "&beginDate=" + $("#beginDate").val()
                + "&endDate= " + $("#endDate").val(), function(data) {
                if (data.type == 1)
                {
                    window.location = "@Url.Action("Export")?feedBillNum=" + feedBillNum + "&assemblyPartCode=" + assemblyPartCode + "&subAssemblyPartCode=" + subAssemblyPartCode + "&printStaus=" + printStaus
                        + "&confirmStatus=" + confirmStatus + "&beginDate=" + $("#beginDate").val()
                        + "&endDate= " + $("#endDate").val();
                }
                else
                {
                $.messageBox5s(Lang.Tip, data.message);
                }
            }, "json");
        });
        $("#btnExportTemplate").click(function() {
          window.location = "@Url.Action("ExportTemplate")";
        });
        $("#btnPrint").click(function() {
            $.modalWindow("单据打印", '@Url.Action("Print")', 1000, 600, 'fa fa-pencil');
        });
        $("#btnUnPrint").click(function() {
            var row = $('#List').datagrid('getSelected');
            if (row != null && row.ConfirmStatus != "已确认")
            {
                $.messager.confirm(index_lang_tip, '确认是否需要取消打印该投料单？', function (r)
                {
                    if (r)
                    {
                        $.ajax({
                            url: "@Url.Action("UnPrint")",
                            type: "Post",
                            data: { releaseBillNum: row.ReleaseBillNum, id: 0 },
                            dataType: "json",
                            success: function (data)
                            {
                                if (data.type == 1)
                                {
                                    frameReturnByReload(true);
                                    $.messageBox5s(Lang.Tip, data.message);
                                }
                                else
                                {
                                    $.messageBox5s(Lang.Tip, data.message);
                                }
                            }
                        });
                    }
                });
            } else { $.messageBox5s(Lang.Tip, "请选择未确认单据"); }
        });
        $("#btnConfirm").click(function () {
            $.modalWindow(Lang.Confirm, '@Url.Action("Confirm")', 1000, 600, 'fa fa-plus');
        });
        $("#btnReport").click(function() {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.modalWindow("单据打印", '@Url.Action("ShowBill", "ReportManager", new { area = "Report" })?reportCode=FeedList&billNum=' + row.FeedBillNum + '&Ieguid=' + GetGuid(), 1000, 600, 'fa fa-pencil');
            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords'); }
        });
    });
    function ImportData()
    {
        showLoading();
        var url = "@Url.Action("Import")?filePath="+$("#txtExcelPath").val();
        $.post(url, function(data) {
            if (data.type == 1)
            {
             $("#List").datagrid('load');
             $('#uploadExcel').window('close');
             $('#FileUpload').val('');
            }
            hideLoading();
            $.messageBox5s('提示', data.message);
            $('#importMessage').html(data.message);
            $('#importResultFile').attr('href', data.value);
        }, "json");
    }
</script>

