@model Apps.Models.Sys.SysUserEditModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}



    
    <table class="formtable">
        <tbody>
            <tr>
                <td colspan="6">
                    账户信息
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.UserName)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
                <th>
                    @Html.LabelFor(model => model.Password)：
                </th>
                <td>
                    ********
                </td>
                <td>
                   &nbsp;
                </td>
                <td>
                   &nbsp;
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.DepId)：
                </th>
                <td>
                     @Html.DisplayFor(model => model.DepName)
                </td>
                <th>

                    @Html.LabelFor(model => model.PosId)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.PosName)
                </td>
                <th>
                    @Html.LabelFor(model => model.JobState)：
                </td>
                <td>
                    @Html.DisplayFor(model => model.JobState)
                </td>
            </tr>
             <tr>
                <th>拥有角色：</td>
                <td colspan="5">
                    @Html.DisplayFor(model => model.RoleName)
                </td>
            </tr>
        </tbody>
    </table>
       
    <table class="formtable">
        <tr>
            <td colspan="5">
                基本资料
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.TrueName)：
            </th>
            <td>
                @Html.DisplayFor(model => model.TrueName)
            </td>
            <th>
                @Html.LabelFor(model => model.Sex)：
            </th>
            <td>
               @Html.DisplayFor(model => model.Sex)
            </td>
            <td rowspan="5" style=" border-left:dashed 1px #ccc; text-align:center">
                <img id="PhotoFB" style="cursor:pointer; width:140px; height:140px; border:1px #ccc solid;" src="@(Model.Photo == "" ? "/Content/Images/NotPic.jpg" : Model.Photo)" />
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Birthday)：
            </th>
            <td>
                 @Html.DisplayFor(model => model.Birthday)
            </td>
            <th>
                @Html.LabelFor(model => model.JoinDate)：
            </th>
            <td>
             @Html.DisplayFor(model => model.JoinDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Nationality)：
            </th>
            <th>
                @Html.DisplayFor(model => model.Nationality)
            </th>
            <th>
                @Html.LabelFor(model => model.Native)：
            </th>
            <td>
                @Html.DisplayFor(model => model.Native)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Marital)：
            </th>
            <td>
                @Html.DisplayFor(model => model.Marital)
            </td>
            <th>
                @Html.LabelFor(model => model.Political)：
            </th>
            <td>
                @Html.DisplayFor(model => model.Political)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Degree)：
            </th>
            <td>
                @Html.DisplayFor(model => model.Degree)
            </td>
            <th>
                @Html.LabelFor(model => model.Professional)：
            </th>
            <td>
                @Html.DisplayFor(model => model.Professional)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.School)：
            </th>
            <td colspan="1">@Html.DisplayFor(model => model.School)
            </td>
            <th>
                @Html.LabelFor(model => model.Card)：
            </th>
            <td colspan="2">
                @Html.DisplayFor(model => model.Card)
            </td>
        </tr>
    </table>
    
    <table class="formtable">
        <tbody>
            <tr>
                <td colspan="6">
                    联系方式
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.MobileNumber)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.MobileNumber)
                </td>
                <th>
                    @Html.LabelFor(model => model.PhoneNumber)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <th>
                    @Html.LabelFor(model => model.QQ)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.QQ)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.EmailAddress)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.EmailAddress)
                </td>
                <th>
                    @Html.LabelFor(model => model.OtherContact)：
                </th>
                <td colspan="3">
                     @Html.DisplayFor(model => model.OtherContact)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Province)：
                </th>
                <td>
                     @Html.DisplayFor(model => model.ProvinceName)
                </td>
                <th>
                    @Html.LabelFor(model => model.City)：
                </th>
                <td>
                   @Html.DisplayFor(model => model.CityName)
                </td>
                <th>
                    @Html.LabelFor(model => model.Village)：
                </th>
                <td>
                    @Html.DisplayFor(model => model.VillageName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Address)：
                </th>
                <td colspan="5">
                     @Html.DisplayFor(model => model.Address)
                </td>
        
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Expertise)：
                </th>
                <td colspan="5">
                    @Html.DisplayFor(model => model.Expertise)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Attach)：
                </th>
                <td colspan="5">
                    @Html.DisplayFor(model => model.Attach)
                </td>
            </tr>
        </tbody>
    </table>

