@model Apps.Models.WMS.WMS_AIModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Spl;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建到货";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
    $(function ()
    {
        //加载PO
        $("#btnLoadPO").click(function ()
        {
            var poNo = $("#PONo").val();
            $("#List").datagrid("load", { poNo: poNo });
        });

        $("#btnSave").click(function ()
        {
            if (!$("form").valid()) {
                $.messageBox5s('提示', $("#ErrMesList").html());
                return;
            }
            if ($("form").valid()) {
                endEditing();
                var $dg = $('#List');
                var rows = $dg.datagrid('getChecked');  //获取CheckBox为选中的行
                //将所选中的行转换成json字符串，并保存到inserted隐藏输入框中。
                $("#inserted").val(JSON.stringify(rows));
                if (rows.length) {
                    showLoading();
                    $.ajax({
                        url: "@Url.Action("Create")",
                        type: "Post",
                        data: $("form").serialize(),
                        dataType: "json",
                        success: function (data) {
                            if (data.type == 1) {
                                hideLoading();
                                window.parent.frameReturnByMes(data.message);
                                window.parent.frameReturnByReload(true);
                                window.parent.frameReturnByClose()
                                window.parent.frameReturnByMes("保存成功！");
                            } else {
                                window.parent.frameReturnByMes(data.message);
                                hideLoading();

                            }
                        }
                    });
                } else {
                    $.messageBox5s('提示', "没有数据需要保存！");
                }
            }
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });

        $(window).resize(function () {
            $('#List').datagrid('resize', {

            }).datagrid('resize', {
                width: SetGridWidthSub(30),
                height: SetGridHeightSub(50)
            });
        });

    });
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetPODetailsList")?poNo=""',
            width: SetGridWidthSub(10),
            methord: 'post',
            height: SetGridHeightSub(202),
            fitColumns: true,
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            selectOnCheck: false,
            checkOnSelect: false,
            onClickCell: onClickCell,
            onEndEdit: onEndEdit,
            onBeginEdit: onBeginEdit,
            remotesort: false,
            showFooter: false,
            rowStyler: function (index, row)
            {
                if (Number(row.SumAIQty) >= Number(row.QTY))
                {
                    return 'background: #D24D57; color: #fff';
                }
                if (Number(row.SumAIQty) < Number(row.QTY) && Number(row.SumAIQty) > 0) {
                    return 'background: #26A65B; color: #fff';
                }
            },
            onLoadSuccess: function (data) {
                //append();
                if (data.rows.length > 0)
                {
                    $("input[type='checkbox']")[0].disabled = true;
                    //循环判断操作为新增的不能选择
                    for (var i = 0; i < data.rows.length; i++)
                    {
                        $("input[type='checkbox']")[i + 1].disabled = true;
                    }

                    //将POId赋值给Input输入框
                    //$("#Id").val(data.rows[0].Id);
                }
            },
            columns: [[
                {
                    field: 'ck', checkbox: true,
                },
                { field: 'Id', title: 'Id', width: 80, hidden: true },
                { field: 'PO', title: '采购订单', width: 80,  hidden: true },
                { field: 'PartId', title: '物料ID', width: 80,  hidden: true },
                { field: 'PartCode', title: '物料编码', width: 80, sortable: true },
                { field: 'CurrentQty', title: '本次到货数量', width: 80, editor: { type: ['textevent'] }, align: 'right' },
                { field: 'BoxNum', title: '到货箱数', width: 80, editor: { type: 'numberbox' }, align: 'right' },
                { field: 'ArrivalDate', title: '到货日期', width: 80, sortable: true, editor: { type: 'datebox' } },
                { field: 'PlanDate', title: '计划到货日期', width: 80, sortable: true },
                { field: 'QTY', title: '订单数量', width: 80, sortable: true, align: 'right' },
                { field: 'SumAIQty', title: '已到货数量', width: 80, sortable: true, align: 'right'/*, formatter: function (value) { return CheckFormatter(value) }*/},
                
            ]]
        });
    });
    //输入到货数量（<>0）后自动选择当前行
    function setKeyUpValue()
    {
        var row = $('#List').datagrid('getSelected');
        var rowIndex = $('#List').datagrid('getRowIndex', row);//获取行号
        var thisTarget = $('#List').datagrid('getEditor', { 'index': rowIndex, 'field': 'CurrentQty' }).target;
        thisTarget.val(thisTarget.val().replace(/[^\d]/g, ''));
        var thisValue = thisTarget.val();
        if (thisValue == "")
            thisValue = 0;
        if (thisValue != 0)
        {
            $('#List').datagrid('checkRow', rowIndex);
        }
        else
        {
            $('#List').datagrid('uncheckRow', rowIndex);
        }
        $("input[type='checkbox']")[rowIndex + 1].disabled = true;

        //如果到货日期为空，则给到货日期赋值当前日期
        var dateTarget = $('#List').datagrid('getEditor', { 'index': rowIndex, 'field': 'ArrivalDate' }).target;
        if (dateTarget.datebox('getValue') == "")
        {
            dateTarget.datebox('setValue', formatterDate(new Date()));
        }

        //当前到货数量+已到货数量>订单数量，则改变行的背景颜色
        //if (thisValue + row.SumAIQty > row.QTY)
        //{
        //    $(thisTarget).closest('td[field]').parent().addClass('overbalance');
        //}
        //else
        //{
        //    $(thisTarget).closest('td[field]').parent().removeClass('overbalance');
        //}
    }

    //得到当前日期
    formatterDate = function (date)
    {
        var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
        var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0"
            + (date.getMonth() + 1);
        return date.getFullYear() + '-' + month + '-' + day;
    };

    //编辑的行
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        $('#List').datagrid('endEdit', editIndex);

        //执行上面的代码会使得checkbox可编辑，需要手工再次设置disabled = true
        $("input[type='checkbox']")[editIndex + 1].disabled = true;

        editIndex = undefined;
        return true;
    }
    function onClickCell(index, field) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#List').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                var ed = $('#List').datagrid('getEditor', { index: index, field: field });
                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).select();
                }
                editIndex = index;
            } else {
                setTimeout(function () {
                    $('#List').datagrid('selectRow', editIndex);
                }, 0);
            }
        }
    }
    function onEndEdit(index, row) {

    }
    //进入编辑前设置
    function onBeginEdit(index, row) {

    }


    //关闭模式窗口
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }


    function removeit() {
        if (editIndex == undefined) { return }
        $('#List').datagrid('selectRow', editIndex);

        $('#List').datagrid('cancelEdit', editIndex)
           .datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }

    function reject() {
        $('#List').datagrid('rejectChanges');
        editIndex = undefined;
    }
    function getChanges() {
        var rows = $('#List').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }

    function contains(arr, obj) {
        var i = arr.length;
        while (i--) {
            if (arr[i] === obj) {
                return true;
            }
        }
        return false;
    }

    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }

    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }
</script>

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    <div id="ErrMesList">
        <div id="ErrMesListContent">
            @Html.ValidationSummary(false)
        </div>
    </div>
    @*@Html.HiddenFor(model => model.Id)*@
    <input id="inserted" type="hidden" name="inserted" value="" />
    <table class="formtable">
        <tbody>
            <tr>
                <th>
                    @*@Html.LabelFor(model => model.POId)*@
                    采购订单：
                </th>
                <td>
                    <div style="height:0;width:0;overflow:hidden">
                        @*@Html.TextBoxFor(model => model.POId)*@
                    </div>
                    <input id="PONo" name="PONo" type="text" style="width: 200px; display: inline;">
                    <a class="fa fa-plus-square color-gray fa-lg" id="selExc" href="javascript:showSelPO()"></a>
                    <script type="text/javascript">
                        function showSelPO()
                        {
                            $("#modalwindow").html("<iframe width='100%' height='100%' scrolling='no' frameborder='0'' src='/WMS/PO/POLookUp'></iframe>");
                            $("#modalwindow").window({ title: '选择采购订单', width: 720, height: 488, iconCls: 'fa fa-plus' }).window('open');
                        }

                        function SetSelResult(result, resultName)
                        {
                            //$("#POId").val(result);
                            $("#PONo").val(resultName);
                        }

                    </script>
                    @Html.ToolButton("btnLoadPO", "fa fa-reply", Resource.Load, false)
                </td>
                <th>
                    @Html.LabelFor(model => model.ArrivalBillNum) （自动生成）：
                </th>
                <td>
                    <input id="arrivalBillNum" type="hidden" name="arrivalBillNum" value="@ViewBag.ArrivalBillNum" />
                    @Html.TextBox("arrivalBillNum", (string)ViewBag.ArrivalBillNum, new { @disabled = "disabled" })
                </td>
            </tr>

        </tbody>
    </table>
}
<table>
    <tr>
        <td colspan="7" style="padding:4px;">
            <table id="List"></table>
        </td>
    </tr>

</table>
