@model Apps.Models.Sys.SysParamModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
function frameReturnByClose() {
$("#modalwindow").window('close');
}
function frameReturnByMes(mes) {
$.messageBox5s(Lang.Tip, mes);
}
</script>
<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<div class="mvctool bgb">
@Html.ToolButton("btnSave", "fa fa-save", Resource.Save,ref perm, "Save", true)
@Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply,false)
</div>
@using (Html.BeginForm())
{
             @Html.HiddenFor(model => model.Id, new { @Value = 0})
             <input id="CreateTime" type="hidden" name="CreateTime" value="2000-1-1" />
 <table class="formtable">
    <tbody>
        <tr>
            <th>
                @Html.LabelFor(model => model.TypeCode)：
            </th>
            <td>
                @Html.EditorFor(model => model.TypeCode)
            </td>
            <td>@Html.ValidationMessageFor(model => model.TypeCode)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.TypeName)：
            </th>
            <td>
                @Html.EditorFor(model => model.TypeName)
            </td>
            <td>@Html.ValidationMessageFor(model => model.TypeName)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ParamCode)：
            </th>
            <td>
                @Html.EditorFor(model => model.ParamCode)
            </td>
            <td>@Html.ValidationMessageFor(model => model.ParamCode)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ParamName)：
            </th>
            <td>
                @Html.EditorFor(model => model.ParamName)
            </td>
            <td>@Html.ValidationMessageFor(model => model.ParamName)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Sort)：
            </th>
            <td>
                @Html.EditorFor(model => model.Sort)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Sort)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.CreatePerson)：
            </th>
            <td>
                @Html.EditorFor(model => model.CreatePerson)
            </td>
            <td>@Html.ValidationMessageFor(model => model.CreatePerson)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ModifyPerson)：
            </th>
            <td>
                @Html.EditorFor(model => model.ModifyPerson)
            </td>
            <td>@Html.ValidationMessageFor(model => model.ModifyPerson)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ModifyTime)：
            </th>
            <td >
               @Html.TextBoxFor(model => model.ModifyTime, new { @onClick = "WdatePicker()",@style = "width: 105px" })
            </td>
            <td>@Html.ValidationMessageFor(model => model.ModifyTime)</td>
        </tr>
    </tbody>
</table>
}

