@model Apps.Models.Flow.Flow_ExternalModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Flow;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;


<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {

        //需要提交审批人
        if ($("#CustomMember").length > 0) {
            if ($("#CustomMember").val() == "") {
                $.messageBox5s("提示", "审批人必须选择！");
                return false;
            }
        }

        $.ajax({
            url: "/Flow/External/Create",
            type: "Post",
            data: $("#ExternalForm").serialize(),
            dataType: "json",
            success: function (data) {
                if(data.type==1)
                {
                    //将来自外表的ID赋值给流程内容的ID，将作为关联标示
                    alert(data.message);
                    $("#Id").val(data.message);
                    //提交原始表单
                    PostForm();
                }
                else {
                    window.parent.frameReturnByMes("表单内容创建失败");
                }
            }
        });
    });
});
</script>

<form id="ExternalForm" method="post">
 <table class="formtable">
    <tbody>
        <tr>
            <th>
                @Html.LabelFor(model => model.Title)：
            </th>
            <td>
                @Html.EditorFor(model => model.Title)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Remark)：
            </th>
            <td>
                @Html.EditorFor(model => model.Remark)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Remark)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Photo)：
            </th>
            <td>
             @Html.HiddenFor(model => model.Photo)
             <img class="expic" src="/Content/Images/NotPic.jpg" /><br />
             <a onclick="$('#FileUpload_Photo').trigger('click')" class="files">@Resource.Browse</a>
             <input type="file" class="displaynone" id="FileUpload_Photo" name="FileUpload_Photo" onchange="Upload('SingleFile', 'Photo', 'FileUpload_Photo','1','1');" />
             <span class="uploading">@Resource.Uploading</span>
            </td>
            <td>@Html.ValidationMessageFor(model => model.Photo)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.SysUserId)：
            </th>
            <td>
                @Html.EditorFor(model => model.SysUserId)
            </td>
            <td>@Html.ValidationMessageFor(model => model.SysUserId)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.TrueName)：
            </th>
            <td>
                @Html.EditorFor(model => model.TrueName)
            </td>
            <td>@Html.ValidationMessageFor(model => model.TrueName)</td>
        </tr>
    </tbody>
</table>
</form>

