@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "WMS_ReturnInspection";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = null;
}
<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<div id = "uploadExcel" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false">
<form name = "form1" method="post" id="form1">
    <table>
        <tr>
            <th style="padding:20px;"> Excel：</th>
            <td style="padding:20px;">
                <input name="ExcelPath" type="text" maxlength="255" id="txtExcelPath" readonly="readonly" style="width:200px" class="txtInput normal left">
                <a href = "javascript:$('#FileUpload').trigger('click').void(0);" class="files">@Resource.Browse</a>
                <input class="displaynone" type="file" id="FileUpload" name="FileUpload" onchange="Upload('ExcelFile', 'txtExcelPath', 'FileUpload'); ">
                <span class="uploading">@Resource.Uploading</span>
            </td>
        </tr>
        <tr>
            <th style="padding:20px;"> 导入状态：</th>
            <td style="padding:20px;">
                <label id="importMessage"></label>
                <a id="importResultFile" href="">         点击查看导入结果</a>
            </td>
        </tr>
    </table>
    <div class="endbtndiv">
        <a id = "btnSave" href="javascript:ImportData()" class="easyui-linkbutton btns">直接保存</a>
        <a id = "btnReturn" href="javascript:$('#uploadExcel').window('close')" class="easyui-linkbutton btnc">@Resource.Cancel</a>
    </div>
</form>
</div>
<div class="mvctool">
    @*<input id="txtQuery" type="text" class="searchText" />*@
    <input id="txtReturnInspectionNum" type="text" placeholder="退货送检单号" class="searchText" />
    <input id="txtCustomerCode" type="text" placeholder="客户图号" class="searchText" />
    <input id="txtPartCode" placeholder="新电图号" type="text" class="searchText" />
    <input id="txtPartName" placeholder="零件名称" type="text" class="searchText" />
    @*打印状态：@Html.DropDownList("txtPrintStatus", ViewBag.PrintStatus as SelectList, new { @style = "width:70px;" })*@
    检验状态：@Html.DropDownList("txtInspectStatus", ViewBag.InspectStatus as SelectList, new { @style = "width:70px;" })
    打印日期从: <input type="text" id="beginDate" style="width:70px;" value="@(DateTimeHelper.FirstDayOfMonth())" class="wdate" onclick="WdatePicker({startDate:'1980-05-01'})" />
    至: <input type="text" id="endDate" style="width:70px;" value="@(DateTimeHelper.LastDayOfMonth())" class="wdate" onclick="WdatePicker({startDate:'1980-05-01'})" />
    <br>
    @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query, ref perm, "Query", true)
    @Html.ToolButton("btnCreate", "fa fa-plus", Resource.Create, ref perm, "Create", true)
    @Html.ToolButton("btnCheck", "fa fa-plus", "检验", ref perm, "Check", true)
    @Html.ToolButton("btnEdit", "fa fa-pencil", Resource.Edit, ref perm, "Edit", true)
    @Html.ToolButton("btnDelete", "fa fa-trash", Resource.Delete, ref perm, "Delete", true)
    @Html.ToolButton("btnImport", "fa fa-level-down", Resource.Import, ref perm, "Import", true)
    @Html.ToolButton("btnExport", "fa fa-level-up", Resource.Export, ref perm, "Export", true)
    @Html.ToolButton("btnExportTemplate", "fa fa-level-up", Resource.ExportTemplate, ref perm, "Export", true)
    @Html.ToolButton("btnReport", "fa fa-search", "查看单据", ref perm, "Query", true)
</div>
<table id="List"></table>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width:SetGridWidthSub(10),
            methord: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            showFooter: true,
            //rownumbers: true,//行号
            onLoadSuccess: function(data) {                @foreach(var r in perm){ if (r.Category == 2) { @Html.Raw("$(this).datagrid('hideColumn','" + r.KeyCode + "'); "); } }
            },
            columns: [[
                { field: 'Id', title: 'Id', width: 80,hidden:true },
                { field: 'ReturnInspectionNum', title: '退货送检单号', width: 100,sortable:true },
                { field: 'PartCustomerCode', title: '客户图号', width: 80,sortable:true },
                { field: 'PartName', title: '零件名称', width: 80, sortable: true },
                { field: 'PartType', title: '零件类型', width: 80, sortable: true },
                { field: 'PartCode', title: '新电图号', width: 80,sortable:true },
                { field: 'Qty', title: '数量', width: 80,sortable:true },
                { field: 'CustomerShortName', title: '客户', width: 80,sortable:true },
                { field: 'SupplierShortName', title: '供应商', width: 80,sortable:true },
                { field: 'PCS', title: '箱数', width: 80,sortable:true },
                { field: 'Volume', title: '体积', width: 80,sortable:true },
                //{ field: 'InvId', title: '库房', width: 80,sortable:true },
                //{ field: 'SubInvId', title: '子库房', width: 80,sortable:true },
                //{ field: 'PrintStatus', title: '打印状态', width: 80,sortable:true },
                //{ field: 'PrintDate', title: '打印日期', width: 80, sortable: true },
                {
                    field: 'PrintDate', title: '打印时间', width: 80, sortable: true,
                    formatter: function (value, row, index) {
                        return formatterDateNoHour(value);
                    }
                },
                //{ field: 'PrintMan', title: '打印人', width: 80,sortable:true },
                //{ field: 'Remark', title: '备注', width: 80,sortable:true },
                //{ field: 'InspectMan', title: '检验人', width: 80,sortable:true },
                //{ field: 'InspectDate', title: '检验日期', width: 80, sortable: true },
                {
                    field: 'InspectDate', title: '检验日期', width: 80, sortable: true,
                    formatter: function (value, row, index) {
                        return formatterDateNoHour(value);
                    }
                },
                { field: 'InspectStatus', title: '检验状态', width: 80,sortable:true },
                { field: 'CheckOutResult', title: '检验结果', width: 80,sortable:true },
                { field: 'QualifyQty', title: '合格数量', width: 80,sortable:true },
                { field: 'NoQualifyQty', title: '不合格数量', width: 80,sortable:true },
                { field: 'Lot', title: '批次', width: 80,sortable:true },
                //{ field: 'ConfirmStatus', title: 'ConfirmStatus', width: 80,sortable:true },
                //{ field: 'ConfirmMan', title: 'ConfirmMan', width: 80,sortable:true },
                //{ field: 'ConfirmDate', title: 'ConfirmDate', width: 80,sortable:true },
                //{ field: 'ConfirmRemark', title: 'ConfirmRemark', width: 80,sortable:true },
            ]]
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s(Lang.Tip, mes);
    }
    $(function () {
        $("#btnCreate").click(function () {
            $.modalWindow(Lang.Create, '@Url.Action("Create")', $(window).width() - 50, $(window).height() - 50, 'fa fa-plus');
        });
        $("#btnCheck").click(function () {
            $.modalWindow(Lang.Create, '@Url.Action("Check")', $(window).width() - 50, $(window).height() - 50, 'fa fa-plus');
        });
        $("#btnEdit").click(function () {
            @*var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.modalWindow(Lang.Edit, '@Url.Action("Edit")?id=' + row.Id + '&Ieguid=' + GetGuid(), 700, 400, 'fa fa-pencil');
            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords'); }*@
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                if (row.InspectStatus == "已检验") {            
                $.messager.confirm(index_lang_tip, "单据已检验不能被修改")
            }
            else { $.modalWindow(Lang.Edit, '@Url.Action("Edit")?id=' + row.Id + '&Ieguid=' + GetGuid(), 800, 600, 'fa fa-pencil');
            } 
                
            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords');                }

        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.modalWindow(Lang.Details, '@Url.Action("Details")?id=' + row.Id + '&Ieguid=' + GetGuid(), 700, 400, 'fa fa-list');
            } else { $.messageBox5s(Lang.Tip, Lang.PleaseSelectTheOperatingRecord); }
	        });
        $("#btnQuery").click(function () {
            var returnInspectionNum = $("#txtReturnInspectionNum").val();
            var customerCode = $("#txtCustomerCode").val();
            var partCode = $("#txtPartCode").val();
            var partName = $("#txtPartName").val();
            var inspectStatus = $("#txtInspectStatus").val();
            if (returnInspectionNum == null) {
                returnInspectionNum = "";
            }
            if (customerCode == null) {
                customerCode = "";
            }
            if (partCode == null) {
                partCode = "";
            }
            if (partName == null) {
                partName = "";
            }

            $("#List").datagrid("load", {
                returnInspectionNum: returnInspectionNum, customerCode: customerCode, partCode: partCode, partName: partName, inspectStatus: inspectStatus, beginDate: $("#beginDate").val(), endDate: $("#endDate").val()
            });

        });
        $("#btnDelete").click(function () {
	            @*dataDelete("@Url.Action("Delete")", "List");*@
            var row = $('#List').datagrid('getSelected');
            if (row.InspectStatus == "已检验") {                
                $.messager.confirm(index_lang_tip, "单据已检验不能被删除")
            }
            else { dataDelete("@Url.Action("Delete")", "List");
            }
	     });
        $("#btnImport").click(function() {
             $("#txtExcelPath").val("");
             $("#uploadExcel").window({ title: '@Resource.Import', width: 450, height: 210, iconCls: 'fa fa-level-down' }).window('open');
        });
        $("#btnExport").click(function() {
            var returnInspectionNum = $("#txtReturnInspectionNum").val();
            var customerCode = $("#txtCustomerCode").val();
            var partCode = $("#txtPartCode").val();
            var partName = $("#txtPartName").val();
            var inspectStatus = $("#txtInspectStatus").val();
            if (returnInspectionNum == null) {
                returnInspectionNum = "";
            }
            if (customerCode == null) {
                customerCode = "";
            }
            if (partCode == null) {
                partCode = "";
            }
            if (partName == null) {
                partName = "";
            }
            $.post("@Url.Action("CheckExportData")?returnInspectionNum=" + returnInspectionNum + "&customerCode=" + customerCode + "&partCode=" + partCode
                + "&inspectStatus=" + inspectStatus + "&beginDate=" + $("#beginDate").val()
                + "&endDate= " + $("#endDate").val(), function(data) {
                if (data.type == 1)
                {
                    window.location = "@Url.Action("Export")?returnInspectionNum=" + returnInspectionNum + "&customerCode=" + customerCode + "&partCode=" + partCode + "&partName=" + partName
                        + "&inspectStatus=" + inspectStatus + "&beginDate=" + $("#beginDate").val()
                        + "&endDate= " + $("#endDate").val();
                }
                else
                {
                $.messageBox5s(Lang.Tip, data.message);
                }
            }, "json");
        });
        $("#btnExportTemplate").click(function() {
          window.location = "@Url.Action("ExportTemplate")";
        });
        $("#btnReport").click(function() {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.modalWindow("单据打印", '@Url.Action("ShowBill", "ReportManager", new { area = "Report" })?reportCode=ReturnInspect&billNum=' + row.ReturnInspectionNum + '&Ieguid=' + GetGuid(), 1000, 600, 'fa fa-pencil');
            } else { $.messageBox5s(Lang.Tip, '@Resource.PlaseChooseToOperatingRecords'); }
        });
    });
    function ImportData()
    {
        showLoading();
        var url = "@Url.Action("Import")?filePath="+$("#txtExcelPath").val();
        $.post(url, function(data) {
            if (data.type == 1)
            {
             $("#List").datagrid('load');
             $('#uploadExcel').window('close');
             $('#FileUpload').val('');
            }
            hideLoading();
            $.messageBox5s('提示', data.message);
            $('#importMessage').html(data.message);
            $('#importResultFile').attr('href', data.value); 
        }, "json");
    }
</script>

