@model Apps.Models.WMS.WMS_Product_EntryModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.WMS;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
function frameReturnByClose() {
$("#modalwindow").window('close');
}
function frameReturnByMes(mes) {
$.messageBox5s(Lang.Tip, mes);
}
</script>
<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id, new { @Value = 0 })
    @Html.HiddenFor(model => model.ProductBillNum)
    <input id="CreateTime" type="hidden" name="CreateTime" value="2000-1-1" />
    <table class="formtable">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.ProductBillNum)：
                </th>
                <td>
                    @Model.ProductBillNum（自动生成）
                </td>
                <td>@Html.ValidationMessageFor(model => model.ProductBillNum)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Department)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Department)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Department)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Partid)：
                </th>
                <td>
                    <div style="height:0;width:0;overflow:hidden">
                        @Html.EditorFor(model => model.Partid)
                    </div>
                    <input id="PartList" name="PartList" readonly="readonly" type="text" style="width: 180px; display: inline; background: #dedede; ">
                    <a class="fa fa-plus-square color-gray fa-lg" href="javascript:showSelPart()"></a>
                    <script type="text/javascript">
                        function showSelPart()
                        {
                            $("#modalwindow").html("<iframe width='100%' height='100%' scrolling='no' frameborder='0'' src='/WMS/Part/PartLookUp'></iframe>");
                            $("#modalwindow").window({ title: '选择物料', width: SetGridWidthSub(20), height: SetGridHeightSub(45), iconCls: 'fa fa-plus' }).window('open');
                        }

                        function SetSelResultForPart(result, resultName)
                        {
                            $("#Partid").val(result);
                            $("#PartList").val(resultName);
                        }

                    </script>
                </td>
                <td>@Html.ValidationMessageFor(model => model.Partid)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.InvId)：
                </th>
                <td>
                    @Html.DropDownListFor(model => model.InvId, ViewBag.Inv as SelectList)
                </td>
                <td>@Html.ValidationMessageFor(model => model.InvId)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.ProductQty)：
                </th>
                <td>
                    @Html.EditorFor(model => model.ProductQty)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ProductQty)</td>
            </tr>
            @*<tr>
            <th>
                @Html.LabelFor(model => model.SubInvId)：
            </th>
            <td>
                @Html.EditorFor(model => model.SubInvId)
            </td>
            <td>@Html.ValidationMessageFor(model => model.SubInvId)</td>
            </tr>*@
            <tr>
                <th>
                    @Html.LabelFor(model => model.Lot)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Lot)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Lot)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Remark)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Remark)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Remark)</td>
            </tr>
        </tbody>
    </table>
}

